[Unit]
Description=kfe client
After=graphical.target

[Service]
Type=simple
ExecStart=/home/flok3n/develop/konrads/systemd/start_kfe_client.sh

[Install]
WantedBy=default.target

